.carta {
    width: 100%;
    height: 100%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.imagen-caja {
    width: 100%;
    height: 80%;
    position: relative;
    overflow: hidden;
}



.imagen-caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.contenido h4 {
    font-size: 32px;
    color: rgba(0, 82, 158, 1);
}

.descripcion-carta{
    position: absolute;
    width: 100%;
    top: 50%;
    left: -100%;
    transform: translateY(-50%);
    padding:0 8px;
    color: white;
    margin:0;
    transition:0.2s;
    background-color: rgba(0, 0, 0, 0.5);
}

.imagen-caja:hover .descripcion-carta{
    left: 0;
    transition: 0.2s;

}
