.carta {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.imagen-caja {
    width: 100%;
    height: 100%;
}



.imagen-caja img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.contenido {
    padding: 16px 24px;
    color: white;
}

.contenido h4 {
    font-size: 32px;
    margin-bottom: 50px;
    color: rgba(0, 82, 158, 1);
}

/* .carta:hover>.contenido {
    top: 48%;
    transition: top 0.5s
}

.carta:hover>.contenido h4 {
    margin-bottom: 16px;
} */

.carta-btn {
    border: 2px solid white;
    color: white
}

.descripcion-carta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

/* @media screen and (max-width:600px) {
    .carta {
        height: 300px;
    }
} */