.contenedor-colab{
    width: 100%;
    background-color: hsla(209, 100%, 31%, 2%);
    padding:30px 0px;
}

.colaboracion{
    width:90%;
    margin:auto;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}



.colaboracion img{
    width:50%;
    margin:auto
}

@media screen and (min-width:600px){
    .colaboracion img {
        width: 30%;
    }


    .colaboracion{
        align-items: center;
        max-width: 1200px;
        margin: auto;
        flex-direction: row;
        gap:30px;
    }

    .colaboracion p{
        line-height: 34px;
        margin:0
    }

}

