.contenedor-colab{
    width: 100%;
    padding:30px 0px;
}

.colaboracion{
    width:90%;
    margin:auto;
    margin-bottom:20px;
    display: flex;
    flex-direction: column;
}

.texto-colaboracion{
    width: 70%;
    height: 360px;
    color:white;
    display:flex;
    align-items: center;
    padding: 0px 60px;
    background-color: hsla(209, 100%, 31%, 50%);
}

.texto-colaboracion p{
    width: 95%;
    text-align: left;
    font-size: 1.25em;
}



.foto-container{
    width:30%;
    height: 360px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsla(209, 100%, 31%, 10%);
}

.foto-container img{
    width: 70%;
}

@media screen and (min-width:600px){

    .colaboracion{
        align-items: center;
        margin: auto;
        flex-direction: row;
        width: 100%;
    }

    .colaboracion p{
        line-height: 34px;
        margin:0
    }

}

