.contenedor-grande {
    background-color: hsla(209, 100%, 31%, 5%)
}

.cookies-container {
    width: 90%;
    max-width: 1200px;
    padding: 32px 24px;
    background-color: white;
    margin: auto;
    border-radius: 5px;
}

.btn-box {
    width: 260px;
    height: 50px;
    margin-bottom: 50px
}

.toggle-btn-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    border-radius: 2px;
}

#btn {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #004e98;
    transition: 0.5s;
    border-radius: 2px;
    z-index: 20
}

.toggle-btn {
    width: 50%;
    z-index: 20;
    background-color: transparent;
    color: white;
    font-size: 20px
}

.toggle-btn:hover {
    background-color: transparent;
}