.denia{
    background-color: hsla(209, 100%, 31%, 1%);
}

.clinica-denia{
    display:flex;
    flex-direction:column-reverse;
    width: 90%;
    margin:auto;
}

.carrusel-denia{
    min-width:60%;
    height: 250px;
}

.carrusel-denia img{
    object-fit:cover;
    height: 100%;
    width: 100%;
    border-radius:5px
}

.clinica-denia{
    margin-top: 20px;
}

.descripcion-denia{
    font-size:1.25rem
}

.smaller-denia {
    font-size: 16px;
}

.horario {
    font-size: 20px;
    border-bottom: 3px solid hsl(209, 100%, 31%);
    display: inline-block;
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.descripcion-denia h3 {
    font-size: 1.8rem;
    margin-top: 0.5em;
    color: #00509d;
}

.desc-denia {
    text-align: center;
    padding-bottom: 1.2em;
    width: 90%;
    margin:auto;
} 

.como-llegar {
    text-align: center;
    font-weight: 700;
}

.boton-mapa {
    background-color: rgba(0, 82, 158, 0.8);
    padding: 8px 16px;
    text-transform: uppercase;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.boton-mapa:hover {
    background-color: rgba(0, 82, 158, 1);
}

.arrow {
    font-size: 2rem;
    position: absolute;
    top: 50%;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.arrow:hover {
    background-color: rgba(0, 0, 0, 0.1)
}

.left {
    left: 5px
}

.right {
    right: 5px;
    transform: rotate(180deg)
}


@media screen and (min-width:550px) and (max-width:799px) {
    .carrusel-denia {
        height: 400px;
    }
}

@media screen and (min-width:800px) and (max-width:979px) {
    .clinica-denia {
        display: flex;
        flex-direction: row;
        max-width: 1100px;
        margin: auto;
        margin-bottom: 20px;
    }

    .desc-denia {
        text-align: left;
        margin:0px;
        
    }

    .descripcion-denia {
        font-size: 1rem;
        width:40%
    }

    .descripcion-denia h3 {
        font-size: 1.6rem;
        margin: 0.4em 0;
    }

    .carrusel-denia {
        min-width: 60%;
        height: 300px;
        position: relative;
    }

}


@media screen and (min-width:980px){
    .clinica-denia {
        display: flex;
        flex-direction:row;
        margin: auto;
        justify-content:space-between;
        max-width:1200px;
        height:450px;
    }

    .descripcion-denia{
        width:40%
    }

    .desc-denia {
        text-align: left;
        margin-left: 0px;
        
    }

    .carrusel-denia {
        min-width: 60%;
        position: relative;
        height:100%
    }

    .boton-mapa {
        display: inline-block;
        margin-top: 0.8em;
    }
}