.my-footer {
    min-height: 100px;
    text-align: center;
    position: sticky;
    background-color:rgba(0, 82, 158, 0.8);

    bottom: 0px;
    padding: 20px 0px;
}

.my-footer ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 0
}

.blanco {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 30px;
}

.raul-logo {
    width: 200px;
}

.logo-container {
    background-color: white;
    padding-bottom: 20px;
}

.redes-sociales {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 10px;
}

.footer-contacto {
    font-size: 0.7rem;
    justify-content: center;
    color: white;
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

.my-footer p {
    color: white;
}

.my-footer p {
    margin-bottom: 0px;
}