

.my-footer{
    min-height: 100px;
    text-align: center;
    position: sticky;
    bottom:0px;
    margin-top: 50px;  
}

.logo{
    width: 30px;
}

.raul-logo{
    width: 200px;
    
}

.redes-sociales{
    display:flex;
    gap: 20px;
    justify-content: center;
    margin-top:10px
}

.footer-contacto {
    font-size:0.7rem;
    justify-content:center;
    display:flex;
    gap:1em;
    margin-top:1em;

}