.nav{
    background-color: hsla(209, 100%, 31%, 1%)
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    height:100px;
    width: 90%;
    font-weight: 600;
}

.hamburger{
    background: url('../assets/imgs/hamburguesa.png');
    width: 30px;
    height:30px;
    background-size: cover;
    display:block;
}
 
.cancelar {
    background: url('../assets/imgs/cancelar.svg');
    width: 30px;
    height: 30px;
    background-size: cover;
    display: block;
}


.logo-principal{
    width:200px
}

#navbar-ul{
    list-style-type: none;
    padding-left: 0px;
    display: flex;
    flex-direction:column;
    position: absolute;
    top: 100px;
    left: -100%; 
    margin-top: 0px;
    transition: 2s;
    z-index:20;
}

.nav-blog{
    align-self: center;
    padding:32px 0px;
    color:whitesmoke;
}

.active{
    width: 100%;
    background-color:hsl(209, 100%, 31%);
    left:0px !important;
    transition: ease 1s !important;
}


.nav .active li a{
    color: whitesmoke;
}

.nav li{
    font-size:1.4rem;
    text-align:center;
    padding:0;
}

.nav li a{
    color: #00509d;
    width: 100%;
    padding: 1em 0;
    display: inline-block
}

.nav li:active {
    background-color: whitesmoke;
    color: #00509d;
}

.banderas{
    display:flex;
    gap:10px;
}

.bandera{
    width: 25px;
    height:18px;
    border-radius: 2px;

}

button{
    border: none;
    cursor:pointer;
    background-color: transparent;
}

.alemania{
    background: url('../assets/imgs/bandera_alemania.jpg');
    background-size: cover;
    display: block;
}

.inglesa{
    background: url('../assets/imgs/bandera_inglesa.png');
    background-size: cover;
    background-position-x:50%;
    display: block;
    
}

.espana{
    background: url('../assets/imgs/bandera_espana.jpg');
    background-size: cover;
    display: block;
}

.idiomas{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
}

@media screen and (max-width:370px) {
    .idiomas{
        gap:10px;
    }

    .banderas {
        gap: 3px;
    }

    .bandera{
        width:20px;
        height: 15px;
    }
}


@media screen and (min-width:800px) and (max-width:979px){
    .nav li{
        font-size: 2em;
    }
}

@media screen and (min-width:980px) and (max-width:1130px){
    .banderas{
        display:flex;
        flex-direction:column;
        gap:5px;
    }
}

@media screen and (min-width:1131px){
    .banderas{
        display:flex;
        gap:10px;
    }
}






@media screen and (min-width:980px){
    .nav-container {
        display: flex;
        width:100%;
        padding:0px 40px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100px;
        font-weight: 600;
    }

    

    #navbar-ul {
        list-style-type: none;
        padding-left: 0px;
        display: flex;
        flex-direction:row;
        gap: 20px;
        align-items: center;
        position: relative;
        top:auto;
        left:auto;
        transition:none;
        margin-bottom: 0px;
    }

    .nav-blog{
        color: #00509d
    }

    .hamburger{
        display:none
    }
}




