.nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:30px;
}

.fisio{
    width: 90%;
    margin:auto;
    border-radius: 5px;
    /* box-shadow: 3px 3px 5px hsla(199, 64%, 73%, 5%);  */
}

.descripcion-fisio{
    text-align: center;
    padding:20px 10px;
    
    background-color: hsla(199, 64%, 73%, 5%);
}

.descripcion-fisio h4{
    margin:0px;
    color:#00509d;
}

.numero-colegiado{
    color: rgba(0, 82, 158, 0.5);
    margin-top:0px
}

.fotoFisio{
    width: 100%;
    height: 335px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
    object-fit:cover;
    object-position:50% 10%
}

@media screen and (min-width:530px) and (max-width:650px){
    .fotoFisio {
        height: 500px;
        
    }

    .descripcion-fisio {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:651px) and (max-width:767px) {
    .fotoFisio {
        height: 550px;
    }

    .descripcion-fisio {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:768px) and (max-width:950px) {
    .fotoFisio {
        height: 600px;
    }

    .descripcion-fisio {
        font-size: 1.5rem;
    }
}

@media screen and (min-width:950px){

    .nosotros {
        flex-direction: row;
        width: 90%;
        max-width: 1200px;
        margin: auto;
        justify-content: center;
        gap: 30px;
    }

    .fisio {
        width: 370px;
        border-radius: 5px;
        /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2); */
    }

    .fotoFisio{
        max-height: 355px;
        object-fit: cover;
        object-position: 50% 30%;
    }

}