#sobre-nosotros{
    margin:50px 0;
    padding: 40px 0px;
}

.sobre-nosotros {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

.sobre-nosotros h2{
    margin-top:0
}

.nosotros {
    columns: 2;
    margin-top: 40px;
}

.idiomas-info{
    display:flex;
    gap:20px;
    margin-top:50px;
    background-color: hsla(209, 100%, 31%, 6%);

}

.titulos{
    width:35%;
    font-size: 24px;
}

.fisio {
    width: 370px;
    border-radius: 5px;
}

.fisio-nuevo {
    display: flex;
}

.img-fisio {
    width: 30%;
    height: 100%;
}

.img-fisio img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-fisio {
    width: 70%;
    padding: 8px 16px;
    background-color: hsla(209, 100%, 31%, 3%);
}

.deutsch-texto{
    width: 65%;
}

.azul{
    color: hsl(209, 100%, 31%);
    font-weight:bold;

}