.programm-card {
    width: 400px;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(0px);
    transition: 0.5s;
}

.programm-card:hover{
    transform:translateY(-5px);
    transition: 0.5s;
}

.programm-card img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
}

.programm-information h3 {
    color: #00509d;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.programm-information {
    padding: 10px;
}

.programm-card p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.programm-btns {
    display: flex;
    gap: 10px;

}

.programm-btns button {
    width: 50%;
}

.categoria{
    text-transform:capitalize;
    color: rgba(0, 82, 158, 0.5);
}


@media screen and (max-width:460px) {
    .programm-card {
        width: 90%;
        margin: auto;
    }
}