.tratamientos-bloque{
    width: 90%;
    max-width: 1200px;
    margin:auto;
    
}

.fila{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-bottom:50px;
}

.tratamientosTexto{
    width: 90%;
    max-width: 550px;
    margin:auto;
    font-weight: bold;
    margin-bottom: 30px;
    
}

@media screen and (min-width:600px){
    .tratamientosTexto {
        font-size: 20px;
        text-align:center;
        }
}

@media screen and (min-width:800px){
    .fila{
        flex-direction: row;
    }
}